<%= render 'menu' %>
<br/>
<div style="text-align: right; height: 45px; margin-top: 12px;">
      
<% if true %>
	<%= link_to '<button type="button" class="btn btn-warning"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar </button>'.html_safe, edit_servicerequest_path(@servicerequest) %>
   <%= link_to '<button type="button" class="btn btn-danger"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar </button>'.html_safe, @servicerequest,method: :delete,
       data: { confirm: '¿Está seguro que desea eliminar la solicitud?' } %><% else %>Ya no puede editar porque se generó la solicitud. <% end %>
<% if session['specification_p10'] == 2 %><a href='../servicerequests.pdf' target="_blank"><button type="button" class="btn btn-primary"> Descargar </button></a><% else %> <% if @sumServicerequest != 0 %><%= link_to '<button type="button" class="btn btn-primary"> Descargar </button>'.html_safe, servicerequests_path(@servicerequest, :format => 'pdf'), target: '_blank' %> <% end %><% end %>
	</div>

  <table id="servicerequestTable " class="table table-striped">
   <tr>
				<th class="active text-center" colspan="2"><h2>Solicitud de Servicio</h2></th>
			</tr>
	  	 <tr>
       	<td class="col-xs-5 text-right">De:</td>
       	<td class="col-xs-7"><%=@servicerequest.seccion%></td>
    	</tr>
		<tr>
	<td class="col-xs-5 text-right">Fecha</td>
       	<td class="col-xs-7"><%=@servicerequest.created_at.strftime("%d-%m-%Y") %></td>
    	</tr>

	<td class="col-xs-5 text-right">Nombre de Contacto</td>
       	<td class="col-xs-7"><%=@servicerequest.contacto_int%></td>
    	</tr>
	  	 <tr>
       	<td class="col-xs-5 text-right">E-mail</td>
       	<td class="col-xs-7"><%=@servicerequest.correo_int%></td>
    	</tr>
		<tr>
	<td class="col-xs-5 text-right">Teléfono</td>
       	<td class="col-xs-7"><%=@servicerequest.extension%></td>
    	</tr>

		<tr>
	<td class="col-xs-5 text-right">Monto Total del Servicio (Bs.):</td>
       	<td class="col-xs-7"><%=@servicerequest.monto %></td>
    	</tr>

	  	 <tr>
       	<td class="col-xs-5 text-right">Observaciones</td>
       	<td class="col-xs-7"><%=@servicerequest.observacion%></td>
    	</tr>

 
 
	</table>

	</div>
</div>

<style>

#servicerequestTable  th, td, tr{
	border-color:#7A7070;
   font-size: 14px;
 
}

#servicerequestTable  th {
background-color: #F2F8F7;
}



.table-bordered {

	border-color:#7A7070;

}

.table-bordered>tbody>tr>td {

	border-color:#7A7070;


}


#servicerequestTable  td:nth-child(even) {

border-color:#7A7070;

}

</style>
<script>
if (window.location.search.replace("?", "") == "pdf=1")
{
window.location.href = "../servicerequests.pdf";
}
</script>

