<h2>Registro de Usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><b><%= 'Nombre' %></b><br />
  <%= f.text_field :name, autofocus: true, class: 'form-control', id: "field" %></div><br>

  <div><b><%= 'Apellido' %></b><br />
  <%= f.text_field :surname, class: 'form-control', id: "field" %></div><br>

  <div><b><%= 'Usuario' %></b><br />
  <%= f.text_field :username, class: 'form-control', id: "field" %></div><br>


  <div><b><%= 'Correo' %></b><br />
  <%= f.email_field :email, class: 'form-control', id: "field" %></div><br>


  <div><b><%= 'Contraseña' %></b> <% if @validatable %><i>(<%= @minimum_password_length %> caracteres minimo)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: "field" %></div><br>


  <div><b><%= 'Confirmación Contraseña' %></b><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id: "field" %></div><br>


<div class="field">
<br>
<b><%='Tipo de Usuario :' %></b><br>
  <%= f.check_box :director %>
  <%= 'Director'%><br>
  <%= f.check_box :directorate %>
  <%= 'Coordinador Dirección'%><br>
  <%= f.check_box :gsmp %>
  <%= 'Gestor de SMyDP'%><br><br>
  

  <%= 'Coordinación de Adquisiciones :' %><br>
  <%= f.check_box :acquisition %>
  <%= 'Coordinador'%>
  <%= f.check_box :acquisition_analist %>
  <%= 'Analista'%><br><br>

  <%= 'Coordinación de Importaciones :' %><br>
  <%= f.check_box :import %>
  <%= 'Coordinador'%>
  <%= f.check_box :import_analist %>
  <%= 'Analista'%><br><br>

  <%= 'Unidad de Administración:' %><br>
  <%= f.check_box :manage %>
  <%= 'Coordinador'%>
  <%= f.check_box :manage_analist %>
  <%= 'Analista'%><br><br>

  <%= 'Coordinación de Calidad:' %><br>
  <%= f.check_box :quality %>
  <%= 'Coordinador'%>
  <%= f.check_box :quality_analist %>
  <%= 'Analista'%><br><br>


  <%= 'Personal Laboratorio :' %><br>
  <%= f.check_box :labBoss %>
  <%= 'Jefe de Laboratorio'%>
  <%= f.check_box :labassistant %>
  <%= 'Asistente de Laboratorio'%><br>
  <%= f.check_box :section_boss %>
  <%= 'Jefe de Sección/Área'%>
  <%= f.check_box :proy_responsible %>
  <%= 'Responsable de Proyecto'%><br>
  <%= f.check_box :technician %>
  <%= 'Personal de Sección/Área'%><br><br>
  <%= f.check_box :external %>
  <%= 'Agente Externo'%><br>
</div>

<br>
  <div><%= f.submit "Registrarse" %></div>
<% end %>
<br>

<style> 

  #field { width: 240px; height: 25px;}

</style>
