<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'chemical_substances.css.scss'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= javascript_include_tag 'jquery.dataTables.js' %>
<%= javascript_include_tag 'tabla.js' %>

<ol class="breadcrumb">
  <li> <%=link_to 'Inicio', controller: 'statics'%></li>
  <li> <%=link_to 'Inventario', inventario_url %></li>
  <li class="active"> Sustancias Químicas </li>
</ol>  

  <% if flash[:notice] %>
    <div class="alert alert-danger"><%= flash[:notice] %></div>
  <% end %>

<div class="col-xs-12">
  <div class="col-xs-6 text-left">
    <h2><i class="fa fa-flask"></i> Sustancias Químicas</h2>
  </div>
  <div class="col-xs-6 text-right">
    <%= link_to inventario_url do %>
    <button type="button" class="btn btn-primary"><span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Volver</button>
    <br><br>
  <% end %>
  </div>
</div>
<br><br>


    <%= form_tag (new_loan_path) do %>
    <div class="col-xs-12">
      <body id="dt_example" class="ex_highlight_row">

        <div id="container">
          <div id="demo">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
              <thead>
                <tr>
                  <% if @sum > 0 %>
                    <th></th>
                  <% end %>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Cantidad</th>
                  <th class="text-center">Medida</th>
                  <th class="text-center">Ubicación</th>
                  <th class="text-center">Responsable</th>
                  <th class="text-center">Origen</th>
                </tr>
              </thead>

              <tbody>
                <% @chemical_substances.each do |chemical_substance| %>
                  <tr>
                    <% if @sum > 0 %>
                      <td class="text-center"><%= check_box_tag "item_ids[]", chemical_substance.id2 %></td>
                    <% end %>
                    <td class="text-center"><span class="mayus"><%= link_to chemical_substance.name, chemical_substance %></span></td>
                    <td class="text-center"><span class="mayus"><%= chemical_substance.quantity %></span></td>
                    <td class="text-center"><span class="mayus"><%= chemical_substance.meassure %></span></td>
                    <td class="text-center"><span class="mayus"><%= chemical_substance.location %></span></td>
                    <td class="text-center"><span class="mayus"><%= chemical_substance.responsible %></span></td>
                    <td class="text-center"><span class="mayus"><%= chemical_substance.origen %></span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="spacer"></div>
          </div>
        </div>
      </body>
      <p></p>

    </div>

      
<div class="col-xs-12" align="left">
  <p></p>
  <% if can? :create, @chemical_substance %>
    <%= link_to new_chemical_substance_path do %>
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Agregar Sustancia</button>
    <% end %>
  <% end %>
  <button type="submit" class="btn btn-primary"><span class="fa fa-exchange"></span>&nbsp;&nbsp;Solicitar Préstamo</button>
</div>  

<% end %>      

  <br><br><br>




 <style>

.linkButton { 
   
   text-align: right;
   color: #384157;
     background: none repeat scroll 0px 0px transparent;
     border: none;
    font-size: 16px;
}

.linkButton:hover {
    cursor: pointer;
    text-align: right;
    background: none repeat scroll 0% 0% #FFF;
    text-decoration: none;
}

.linkButton:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

#LeDivQuimicas {
    background-image        : url('/assets/chemical.png');
    background-size         : 520px;  
    background-repeat       : no-repeat; 
    background-position   : bottom right; 
    background-color        : #FFFFFF;

}

.red {
    font-size               : 22px;
    color                   : red;
}

.Informacion {
    line-height             :1.6em;
}


.mayus {
  text-transform: uppercase;
}

 </style>

  <script type="text/javascript">
  //<![CDATA[

  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }
    else
      localStorage.removeItem( 'firstLoad' );
  }
;
  //]]>
  </script>