<%= form_for(@binnacle) do |f| %>
  <% if @binnacle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@binnacle.errors.count, "error") %> prohibited this binnacle from being saved:</h2>

      <ul>
      <% @binnacle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.text_field :fecha %>
    <%= f.hidden_field :idSustancia, :value => @id %>
  </div>
  <div class="field">
    <%= f.label :consumo %><br>
    <%= f.text_field :consumo %>
  </div>
  <div class="field">
    <%= f.label :ingreso %><br>
    <%= f.text_field :ingreso %>
  </div>
  <div class="field">
    <%= f.label :saldo %><br>
    <%= f.text_field :saldo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
