<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= javascript_include_tag 'jquery.dataTables.js' %>
<%= javascript_include_tag 'tabla.js' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Proyectos', projects_path %></li>
			<li><%= link_to 'Gestionar proyectos', controller: 'projects', action: 'list' %></li>
			<li><%= link_to @project.project_number, @project %></li>		
			<li><%= link_to 'Compromisos', controller: 'projcommitments', id: @commitments.proj_id %></li>
			<li><%= link_to @commitments.code, @commitments %></li>
			<li class="active"> Ejecuciones asociadas </li>
		</ol>
	</div>

	<div class="col-xs-12" align="right">
		<%= link_to 'javascript:history.go(-1);', class: "btn btn-primary" do %>
     		<span class="glyphicon glyphicon-arrow-left"></span></span>&nbsp;&nbsp;Volver
    	<% end %>    	
	</div>   

	<div class="col-xs-12">
		<h2><center> Ejecuciones asociadas al compromiso <%= @commitments.description %> </center></h2> 
		<h2><center> del Proyecto No. <%= Project.find(@commitments.proj_id).project_number %> </center></h2>
	</div>

	<div class="col-xs-12">
		<div class="well">
			El monto está expresado en bolívares.
		</div>
	</div>


	<div class="col-xs-12">
		<body id="dt_example" class="ex_highlight_row">

			<div id="container">
				<div id="demo">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
						<thead>
							<tr>
								<th class="text-center">Fecha de Elaboración</th>
								<th class="text-center">Número de Documento</th>
								<th class="text-center">Monto</th>
								<th class="text-center">Estatus del cheque</th>
							</tr>
						</thead>

						<tbody>
				      		<% @projexecutions.each do |i| %>
								<tr>
									<td class="text-center"><%= i.check_elaboration_date %></td>
									<td class="text-center"><%= link_to i.code, i %></td>				
									<td class="text-right"><%= number_to_currency(i.check_amount, format: "%n", delimiter: ".", separator: ",") %></td>
									<td class="text-center">
				  						<% if i.check_annulled? %>
                    						Anulado
				 						<% else %>
                  							<% if i.check_sign_date.blank? %> 
                    							En espera de firma
                  							<% elsif i.check_delivery_date.blank? %> 
                    							En custodia
                  							<% else %> 
                    							Entregado
                  							<% end %>
										<% end %>
									</td>									
								</tr>
							<% end %>
						</tbody>
					</table>
					<div class="spacer"></div>
				</div>
			</div>
		</body>


		<br></br>
					
		<div class="well">
			<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
				<tbody>
					<thead>
						<tr>
							<th class="text-center"></th>
							<th class="text-center">Monto Comprometido</th>
							<th class="text-center">Monto Ejecutado</th>
							<th class="text-center">Saldo Pendiente</th>
						</tr>
					</thead>

					<tr>
						<td class="text-center">TOTALES</td>
						<td class="text-center">Bs. <%= number_to_currency(@sum_commitment, format: "%n", delimiter: ".", separator: ",")%> </td>
						<td class="text-center">Bs. <%= number_to_currency(@sum, format: "%n", delimiter: ".", separator: ",") %> </td>
						<td class="text-center">Bs. <%= number_to_currency(@sum_commitment - @sum, format: "%n", delimiter: ".", separator: ",") %> </td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</div>
