<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Proyectos', projects_path %></li>
			<li><%= link_to 'Gestionar proyectos', controller: 'projects', action: 'list' %></li>
			<li><%= link_to Project.find(@commitment.proj_id).project_number, Project.find(Projcommitment.find(params[:cid]).proj_id) %></li>	
			<li><%= link_to 'Compromisos', controller: 'projcommitments', id: @commitment.proj_id %></li>
			<li><%= link_to @commitment.code, @commitment %></li>
			<li class="active">Nueva Ejecución</li>
		</ol>
	</div>

  	<% if @projexecution.errors.any? %>
		<div class="col-xs-12" role="alert">
			<div class="alert alert-danger">
				<ul>
					<% @projexecution.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>	
			</div>
		</div>
	<% end %>

	<div class="col-xs-12">
		<%= form_for @projexecution, url: {action: 'create'}, html: { class: 'form-horizontal' } do |i| %>	

			<div class="form-group">
				<label for='projexecution_dependency' class="col-xs-3 control-label text-right">Proyecto</label>
				<div class='col-xs-4'>
					<input class="form-control" placeholder="<%= Project.find(@commitment.proj_id).project_number  rescue nil %>" disabled>
				</div>
			</div>
			
			<div class="form-group">
				<label for='projexecution_commitment' class="col-xs-3 control-label text-right">Compromiso Asociado</label>
				<div class='col-xs-4'>
					<input class="form-control" placeholder="<%= @commitment.description rescue nil %>" disabled>
				</div>
			</div>

			<div class="form-group">
				<label for='commitment' class="col-xs-3 control-label text-right"> Código del Compromiso</label>
				<div class='col-xs-4'>
      				<%= i.text_field :commitment_id, class: "form-control", :readonly => true  %>
				</div>
			</div>

			<div class="form-group">
				<label for='projexecution_document' class="col-xs-3 control-label text-right">Documento </label>
				<div class="col-xs-4">
				<% if @commitment.order_buy? %>					
					<%=  i.text_field :document_name, :value => "Informe de Recepción", class: "form-control", :readonly => true  %>
				<% else %>
					<%=  i.text_field :document_name, :value => "Conformidad de Servicio", class: "form-control", :readonly => true  %>			
				<% end %>					
				</div>
			</div>
			
			<div class="form-group">
				<label for='projexecution_code' class="col-xs-3 control-label text-right">Número de Documento <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :code, class: 'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<label for='projexecution_document_date' class="col-xs-3 control-label text-right">Fecha del Documento <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :document_date, class: 'bootlayout-date form-control' %>
				</div>
			</div>

			<div class="form-group">
				<label for='projexecution_invoice_number' class="col-xs-3 control-label text-right">Número de la Factura <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :invoice_number, class: 'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<label for='projexecution_invoice_date' class="col-xs-3 control-label text-right">Fecha de la Factura <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :invoice_date, class: 'bootlayout-date form-control' %>
				</div>
			</div>
			
			<div class="form-group">
				<label for='projexecution_amount' class="col-xs-3 control-label text-right">Monto <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<div class="input-group">
    					<span class="input-group-addon">Bs.</span>
						<%= i.text_field :check_amount, class: 'form-control', value: number_to_currency(Projcommitment.find(params[:cid]).amount - Projexecution.where("commitment_id=?",params[:cid]).where("check_annulled=false").sum(:check_amount), format: "%n", delimiter: ".", separator: ",", precision: 2), onblur: "setProjexecutionAmount();", placeholder: '0.000,00' %>
					</div>
				</div>
			</div>
			
			<hr />
			
			<div class="form-group">
				<label for='projexecution_check_number' class="col-xs-3 control-label text-right">Número de Cheque <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :check_number, class: 'form-control', :placeholder => "Número de 8 dígitos", :maxlength => 8 %>
				</div>
			</div>
			
			<div class="form-group">
				<label for='projexecution_check_elaboration_date' class="col-xs-3 control-label text-right">Fecha de Elaboración <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :check_elaboration_date, class: 'bootlayout-date form-control' %>
				</div>
			</div>
			
			<div class="form-group">
				<label for='projexecution_check_sign_date' class="col-xs-3 control-label text-right">Fecha de Firma</label>
				<div class='col-xs-4'>
					<%= i.text_field :check_sign_date, class: 'bootlayout-date form-control' %>
				</div>
			</div>
			
			<div class="form-group">
				<label for='projexecution_check_delivery_date' class="col-xs-3 control-label text-right">Fecha de Entrega</label>
				<div class='col-xs-4'>
					<%= i.text_field :check_delivery_date, class: 'bootlayout-date form-control' %>
				</div>
			</div>

			<div class="form-group">
				<label for='projexecution_remarks' class="col-xs-3 control-label text-right">Observaciones</label>
				<div class='col-xs-4'>
					<%= i.text_area :remarks, class: 'form-control' %>
				</div>
			</div>
		
			<%= i.text_field :proyecto, class: "hidden_option" %>
			<%= hidden_field_tag "cid", params[:cid] %>
				
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;Agregar Ejecución</button>
					<%= link_to @commitment do %>					
						<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancelar Operación</button>			
					<% end %>
				</div>
			</div>			
		<% end %>
	</div>

	<div class="col-xs-12">
		<div class="well">
			<span style="color:#FF0000">*</span> Los campos son obligatorios.
		</div>
	</div>
</div>

<style>
.hidden_option{
    display: none;
  }
</style>