<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= render 'menu' %>
<div style="text-align: right; height: 45px; margin-top: 12px;">
<% if session['specification_p4'] != 2 %>
	<%= link_to '<button type="button" class="btn btn-success"> <span style="font-size:10px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Recomendación </button>'.html_safe,  new_recommendation_path %><% else %> <%= link_to '<button type="button" class="btn btn-primary"> Descargar solicitud </button>'.html_safe, recommendations_path(@recommendation, :format => 'pdf') %><% end %>
	</div>
                <%= render 'recomtable' %>
	</div>




