<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Proyectos', projects_path %></li>
			<li><%= link_to 'Gestionar proyectos', controller: 'projects', action: 'list' %></li>
			<li><%= link_to @project.project_number, @project %></li>				
			<li><%= link_to 'Compromisos', controller: 'projcommitments', id: @commitment.proj_id %></li>
			<li class="active"><%= @commitment.code %></li>						
		</ol>
	</div>

	<div class="col-xs-12" align="right">
		<%= link_to 'javascript:history.go(-1);', class: "btn btn-primary" do %>
     		<span class="glyphicon glyphicon-arrow-left"></span></span>&nbsp;&nbsp;Volver
    	<% end %>
		</br>
		</br>    	
	</div>   

	<div class="col-xs-12">
		<table class="table table-striped">
			<tr>
				<th class="active text-center" colspan="2"><h2><%= @commitment.description %></h2></th>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Fecha:</td>
				<td class="col-xs-7"><%= @commitment.date.strftime('%d/%m/%Y') %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Proyecto:</td>
				<td class="col-xs-7"><%= @project.title %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Documento:</td>
				<td class="col-xs-7"><%= Projcommitment.document_str[Projcommitment.documents[@commitment.document]] %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Número de Documento:</td>
				<td class="col-xs-7"><%= @commitment.code %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Beneficiario:</td>
				<td class="col-xs-7"><%= @commitment.recipient %></td>
			</tr>
			<% if !@commitment.observations.blank? -%>
		      <tr>
			    <td class="col-xs-5 text-right">Observaciones:</td>
                <td class="col-xs-7"><%= @commitment.observations %></td>
			  </tr>
			<% end %>
			<tr class="success">
				<td class="col-xs-5 text-right"><font size=3.6> Monto: </font></td>
				<td class="col-xs-7"> <div id="span1"> <font size=3.6> Bs. </div> <div id="span2" align="right"> <font size=3.6> <%= number_to_currency(@commitment.amount, format: "%n", delimiter: ".", separator: ",") %> </font> </div> </td>
			</tr>
   <tr>
				<td class="col-xs-5 text-right"> Monto Ejecutado: </td>
				<td class="col-xs-7"> <div id="span1">  Bs. </div> <div id="span2" align="right"> <%= number_to_currency(@sum, format: "%n", delimiter: ".", separator: ",") %> </div> </td>
   </tr>
   <tr>
				<td class="col-xs-5 text-right"> Saldo por Ejecutar:</td>
				<td class="col-xs-7"> <div id="span1"> Bs. </div> <div id="span2" align="right"> <%= number_to_currency(@dif, format: "%n", delimiter: ".", separator: ",") %> </div> </td>
   </tr>
		</table>
	</div>
	<div class="col-xs-12">
		<%= link_to edit_projcommitment_path do %>
			<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editar Compromiso</button>
		<% end %>
        <% if @sum < @commitment.amount %>
		<%= link_to controller: :projexecutions, action: 'new', cid: @commitment.id do %>
			<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Agregar Ejecución</button>
		<% end %>
		<% end %>
        <% if @size > 0 %>
		<%= link_to controller: :projexecutions, action: 'list', cid: @commitment.id do %>
			<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Listar Ejecuciones</button>
		<% end %>
  <% end %>
	</div>
</div>

<style>
	#span1 { width: 25px; float: left; height:100%; }
    #span2 { width: 110px; float: left; height:50%;}
</style>
