<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'chemical_substances.css.scss'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= javascript_include_tag 'jquery.dataTables.js' %>
<%= javascript_include_tag 'tabla.js' %>


<div class="col-xs-12">
  <div class="col-xs-6 text-left">
    <h1><i class="fa fa-align-left"></i> Servicios Solicitados</h1>
  </div>
  <div class="col-xs-6 text-right">
    <%= link_to inventario_url do %>
    <button type="button" class="btn btn-primary"><span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Volver</button>
    <br><br>
  <% end %>
  </div>
</div>
<br><br>
<div class="col-xs-12">
  <body id="dt_example" class="ex_highlight_row">

    <div id="container">
      <div id="demo">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
          <thead>
            <tr>
			  <th class="text-center">Identificador</th>
			  <th class="text-center">Fecha Requerida</th>
			  <th class="text-center">Descripción</th>
			</tr>
          </thead>

          <tbody>
            <% @applications.each do |application| %>
              <tr>
                <td class="text-center"><span class="mayus"><%= link_to application.id, application %></span></td>
                <td class="text-center"><span class="mayus"><%= application.fechaRequerida %></span></td>
                <td class="text-center"><span class="mayus"><%= application.descripcion %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="spacer"></div>
      </div>
    </div>
  </body>
  <p></p>

</div>

  <br>

<style>

.red {
    font-size               : 22px;
    color                   : red;
}

.Informacion {
    line-height             :1.6em;
}


.mayus {
  text-transform: uppercase;
}

 </style>