<%= javascript_include_tag 'jquery-1.10.2.js'%>
<%= javascript_include_tag 'jquery-ui.js' %>
<%= stylesheet_link_tag 'jquery-ui.css'%>
<%= javascript_include_tag 'tabs.js' %>

<div class="row">

  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
      <ol class="breadcrumb">
        <li> <%=link_to 'Inicio', controller: 'statics'%></li>
        <li> <%=link_to 'Inventario', inventario_url %></li>
        <li class="active"> Ver </li>
      </ol>
  </div>
</div>

<div class="col-xs-12 text-right">
  <%= link_to applications_path do %>
    <button type="button" class="btn btn-primary"><span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Volver</button>
  <% end %>
</div>
<br>


<div id = "table2">
</div>

<p><h2><center><%= @application.id %> </h2></p>

<div id="tabs">
    <ul>
      <li><a href="#tabs-1" class="show">Datos del Solicitante</a></li>
      <li><a href="#tabs-2" class="hidex">Descripción Del Servicio</a></li>
      <li><a href="#tabs-3" class="hidex">Datos del provedor de servicio</a></li>
      <li><a href="#tabs-4" class="hidex">Datos del bien (Objeto de servicio)</a></li>
    </ul>


    <div id="tabs-1">
      <div class="form-group">
        <table class="table table-striped">


      <tr>
        <td class="col-xs-5 control-label text-right">Para</td>
        <td class="col-xs-7"> Coordinación de Adquisiciones ULab
        </td>
      </tr>

    <tr>
      <td  class="col-xs-5 control-label text-right">De </td>
      <td class='col-xs-7'><%= @application.de %></td>
    </tr>

    <tr>
      <td class="col-xs-5 control-label text-right">Fecha </td>
        <td class="col-xs-7">
          <%= @application.fechaRequerida%>
        </td>
    </tr>

    <tr>
      <td class="col-xs-5 control-label text-right">Persona contacto de la Unidad Solictante </td>
      <td class='col-xs-7'>
        <%= @application.personaContactoUnidadS %>
      </td>
    </tr>

    <tr>
      <td class="col-xs-5 control-label text-right">Telefono </td>
      <td class='col-xs-7'>
        <%= @application.telefono1 %>
      </td>
    </tr>

    <tr>
      <td for='income_sae_code' class="col-xs-5 control-label text-right">Telefono Adicional </td>
      <td class='col-xs-7'>
        <%= @application.telefono2 %>
      </td>
    </tr>

    <tr>
      <td class="col-xs-5 control-label text-right">E-mail </td>
      <td class='col-xs-7'>
        <%= @application.email1 %>
      </td>
    </tr>


      <tr>
        <td class="col-xs-5 control-label text-right">Uso del Servicio</td>
              <td class="col-xs-7"> <% @application.uso %>
        </td>
      </tr>

        </table>
      </div>
    </div>

    <div id="tabs-2">
      <div class="form-group">
        <table class="table table-striped">


      <tr>
        <td for='income_sae_code' class="col-xs-5 control-label text-right">Descripción detalla del Servicio</td>
        <td class='col-xs-7'>
          <%= @application.descripcion %>
        </td>
      </tr>

        </table>
      </div>
    </div>


    <div id="tabs-3">
      <div class="form-group">
        <table class="table table-striped">


        <tr>
          <td class="col-xs-5 control-label text-right">Compañia/Depencia</td>
          <td class='col-xs-7'>
            <%= @application.companiaDepencia %>
          </td>
        </tr>

        <tr>
          <td class="col-xs-5 control-label text-right">Rif </td>
          <td class='col-xs-7'>
            <%= @application.rif %>
          </td>
        </tr>

        <tr>
        <td class="col-xs-5 control-label text-right">Persona de contacto </td>
          <td class='col-xs-7'>
            <%= @application.personaContactoCompania %>
          </td>
        </tr>

        <tr>
        <td class="col-xs-5 control-label text-right">E-mail de contacto </td>
          <td class='col-xs-7'>
            <%= @application.email2 %>
          </td>
        </tr>

        <tr>
          <td class="col-xs-5 control-label text-right">Telefono</td>
          <td class='col-xs-7'>
            <%= @application.telefono3 %>
          </td>
        </tr>

        <tr>
        <td class="col-xs-5 control-label text-right">Telefono Adicional </td>
          <td class='col-xs-7'>
            <%= @application.telefono4 %>
          </td>
        </tr>

        <tr>
        <td class="col-xs-5 control-label text-right">Fecha de cotización </td>
            <td class="col-xs-7">
              <%= @application.fechaCotizacion %>
          </td>
        </tr>

        <tr>
          <td  class="col-xs-5 control-label text-right">No de cotización </td>
          <td class='col-xs-7'>
            <%= @application.noCotizacion %>
          </td>
        </tr>

        <tr>
          <td  class="col-xs-5 control-label text-right">Monto Total del Servicio </td>
          <td class='col-xs-7'>
            <%= @application.montoTotalServicio %>
          </td>
        </tr>

        <tr>
          <td class="col-xs-5 control-label text-right">Observaciones </td>
          <td class='col-xs-7'>
            <%= @application.observacionesFinales %>
          </td>
        </tr>
        </table>
      </div>
    </div>

    <div id="tabs-4">
      <div class="form-group">
        <table class="table table-striped">

      <% @equipment.each do |equipment| %>
      <div class="form-group">
        <table class="table table-striped">
        <tr>
          <td class="col-xs-5 text-right">Nombre</td>
          <td class='col-xs-7'><%=  equipment.name  %></td>
        </tr>
        <tr>
          <td class="col-xs-5 text-right">Numero de Bien Nacional</td>
          <td class='col-xs-7'><%=  equipment.national_good  %></td>
        </tr>
        <tr>
          <td class="col-xs-5 text-right">Ubicación</td>
          <td class='col-xs-7'><%=  equipment.location  %></td>
        </tr>
        </table>
      </div>
    <% end %>

    <% @tools.each do |tool| %>
      <div class="form-group">
        <table class="table table-striped">
        <tr>
          <td class="col-xs-5 control-label text-right">Nombre</td>
          <td class='col-xs-7'><%=  tool.name  %></td>
        </tr>
        <tr>
          <td class="col-xs-5 control-label text-right">Numero de Bien Nacional</td>
          <td class='col-xs-7'><%=  tool.national_good  %></td>
        </tr>
        <tr>
          <td class="col-xs-5 control-label text-right">Ubicación</td>
          <td class='col-xs-7'><%=  tool.location  %></td>
        </tr>
        </table>
      </div>
    <% end %>

    <% @instruments.each do |instrument| %>
      <div class="form-group">
        <table class="table table-striped">
        <tr>
          <td class="col-xs-5 control-label text-right">Nombre</td>
          <td class='col-xs-7'><%= instrument.name %></td>
        </tr>
        <tr>
          <td class="col-xs-5 control-label text-right">Numero de Bien Nacional</td>
          <td class='col-xs-7'><%=  instrument.national_good  %></td>
        </tr>
        <tr>
          <td class="col-xs-5 control-label text-right">Ubicación</td>
          <td class='col-xs-7'><%=  instrument.location  %></td>
        </tr>
        </table>
      </div>
    <% end %>
        </table>
      </div>
    </div>
<br><br>

<div class="col-xs-12">
  <div class="col-xs-6 text-left">

    <% if can? :update, @application %>
      <%= link_to edit_application_path(@application) do %>
        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editar</button>
      <% end %>
    <% end %>
    <% if can? :hide, @application %>
          <%= link_to @application, method: :delete, data: { confirm: '¿Estás seguro?' } do%>
            <button type="button" class="btn btn-danger"><span class="fa fa-times fa-1x"></span>&nbsp;&nbsp;Eliminar</button>
          <% end %>
    <%end%>


  </div>
</div>

<br><br><br><br>

<!--
<div class="col-xs-12">
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_application_path(@application), 'data-no-turbolink' => true %> |
  <i class="fa fa-times fa-1x"></i><%= link_to ' Ocultar', @application, method: :delete, data: { confirm: '¿Estás seguro?' } %> |
  <i class="fa fa-download"></i><%= link_to ' Descargar Solicitud '.html_safe, application_path(@application, :format => 'pdf') %> | 
<i class="fa fa-arrow-left"></i><%= link_to ' Volver', applications_url %>
<br><br><br><br>
</div>

-->