<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li> <%=link_to 'Inicio', controller: 'statics'%></li>
  <li> <%=link_to 'Inventario', inventario_url %></li>
  <li class="active"> Ver </li>
</ol>





    <div class="col-xs-12">
      <div class="col-xs-7">
        <table class="table table-striped">
          <tr>
            <td class="col-xs-3 text-right"><strong>Fecha requerida:</strong></td>
            <td class="col-xs-4"><%= @application.fechaRequerida %></td>
          </tr>
          <tr>
            <td class="col-xs-3 text-right"><strong>Descripción del Servicio:</strong></td>
            <td class="col-xs-4"><%= @application.descripcion %></td>
          </tr>
          <tr>
            <td class="col-xs-3 text-right"><strong>Uso del Servicio:</strong></td>
            <td class="col-xs-4"><%= @application.uso %></td>
          </tr>          
        </table>
        <%= hidden_field_tag "id", @id %>
      </div>

      <div class="col-xs-5">
        <table id="itemTable" class="table table-hover">
          <thead>
            <tr>
              <th class="tg-hgcj"> Código del Bien</th>
              <th class="tg-093g">Nombre</th>
            </tr>
          </thead>

          <tbody>
            <% @equipment.each do |equipment| %>
              <tr>
                <td class="tg-s6z2"><%= equipment.id2 %></td>
                <td class="tg-s6z2"><%=  equipment.name  %></td>
              </tr>
            <% end %>
            <% @tools.each do |tool| %>
              <tr>
                <td class="tg-s6z2"><%= tool.id2 %></td>
                <td class="tg-s6z2"><%=  tool.name  %></td>
              </tr>
            <% end %>
            <% @instruments.each do |instrument| %>
              <tr>
                <td class="tg-s6z2"><%= instrument.id2 %></td>
                <td class="tg-s6z2"><%=  instrument.name  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>




<div class="col-xs-12">
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_application_path(@application), 'data-no-turbolink' => true %> |
  <i class="fa fa-times fa-1x"></i><%= link_to ' Ocultar', @application, method: :delete, data: { confirm: '¿Estás seguro?' } %> |
  <i class="fa fa-download"></i><%= link_to ' Descargar Solicitud '.html_safe, application_path(@application, :format => 'pdf') %> | 
<i class="fa fa-arrow-left"></i><%= link_to ' Volver', applications_url %>
<br><br><br><br>
</div>

