<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= javascript_include_tag 'jquery.dataTables.js' %>
<%= javascript_include_tag 'tabla.js' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Presupuesto', budget_path %></li>
			<li><%= link_to 'Resumen Presupuestario', controller: 'budget', action: 'summary' %></li>
			<li><%= link_to @lab.sae_name, controller: 'labs', action: 'show', id: @lab.id %></li>				
			<li class="active">Ejecuciones</li>
		</ol>
	</div>

	<div class="col-xs-12">
		<h2><center>Ejecuciones de <%= @lab.sae_name %></center></h2>
	</div>

	<div class="col-xs-12">
		<div class="well">
			El monto está expresado en bolívares.
		</div>
	</div>


	<div class="col-xs-12">
		<body id="dt_example" class="ex_highlight_row">

			<div id="container">
				<div id="demo">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
						<thead>
							<tr>
								<th class="text-center">Número de Documento</th>
								<th class="text-center">Compromiso Asociado</th>
								<th class="text-center">Beneficiario</th>
								<th class="text-center">Monto</th>
								<th class="text-center">Estatus del cheque</th>
							</tr>
						</thead>

						<tbody>
				      		<% @executions.each do |i| %>
								<tr>
									<td class="text-center"><%= link_to i.code, i %></td>			
									<td class="text-left"><%= link_to i.commitment.description, i.commitment %></td>
									<td class="text-left"><%= i.commitment.recipient %></td>
									<td class="text-left"><%= number_to_currency(i.check_amount, format: "%n", delimiter: ".", separator: ",") %></td>
									<td class="text-center">
				  						<% if i.check_annulled? %>
                    						Anulado
				 						<% else %>
                  							<% if i.check_sign_date.blank? %> 
                    							En espera de firma
                  							<% else if i.check_delivery_date.blank? %> 
                    							En custodia
                  							<% else %> 
                    							Entregado
                  							<% end %>
                  							<% end %>
										<% end %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<div class="spacer"></div>
				</div>
			</div>
		</body>

		<br></br>

		<% if @sum > 0 %>
			<div class="well" align="right">
				<h4>Monto Total Ejecutado: Bs. <%= number_to_currency(@sum, format: "%n", delimiter: ".", separator: ",") %></h4>
			</div>
		<% end %>
	</div>

</div>
