	<div id="banner">
		<p> <%= image_tag "logo_ulab.gif" %> </p> 
		<p> <%= image_tag "innovar.gif" %> </p>
		<p><a href="http://www.ulab.usb.ve/jornadas"> <%= image_tag "stickers_jornadas.jpg" %></a></p>
		<p><a href="http://www.ulab.usb.ve/sites/default/files/catalogo_ulab.pdf"> <%= image_tag "cat_ulab.jpg" %></a></p>
		<p><a href="http://www.ulab.usb.ve/node/26"> <%= image_tag "cons_ulab.jpg" %> </a></p>
		<p><a href="http://www.ulab.usb.ve/node/27"> <%= image_tag "doc_ulab.jpg" %> </a></p>
		<p><a href="http://www.ulab.usb.ve/node/25"> <%= image_tag "comit_ulab.jpg" %> </a></p>
		<p><a href="https://www.facebook.com/pages/Unidad-de-Laboratorios-USB/173900382644914" target="_blank"> <%= image_tag "facebook.gif" %> </a></p>
		<p><%= image_tag "somosusb.gif" %></p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
