<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>


<div class="grid_12">
      <ol class="breadcrumb">
          <li> <%=link_to 'Inicio', controller: 'statics'%></li>
       <li> <%=link_to 'Compras', compras_url %></li>
        <li class="active">Especificaciones Técnicas</a></li>
      </ol>
</div>
  <div class="grid_12">
      
      <div>
        <h3>Especificaciones Técnicas</h3>
      <div style="text-align: right; height: 45px;">
          <%= link_to '<button type="button" class="btn btn-primary"> Volver </button>'.html_safe, compras_url %>
	<%= link_to '<button type="button" class="btn btn-success"> <span style="font-size:10px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear Especificación Técnica </button>'.html_safe, new_specification_path %> 
	</div>
      </div>
      
      <%= render 'specificationTable' %>
  </div>

</body>
</html>

<style>
  
#agregar {
  font-size: 14px;
}

h3 {
  position: relative;
}

</style>
