<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Presupuesto', budget_path %></li>
			<li><%= link_to 'Ingresos', incomes_path %></li>
			<li><%= link_to @income.id, @income %></li>
			<li class="active">Editar Ingreso</li>
		</ol>
	</div>
	<% if @income.errors.any? %>
		<div class="col-xs-12" role="alert">
			<div class="alert alert-danger">
				<ul>
					<% @income.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>	
			</div>
		</div>
	<% end %>
	<div class="col-xs-12">
		<%= form_for @income, url: {action: 'update'}, id: @income.id, html: { class: 'form-horizontal' } do |i| %>	
			<div class="form-group">
				<label for='income_lab_id' class="col-xs-3 control-label text-right">Dependencia <span style="color:#FF0000">*</span></label>
				<div class="col-xs-3">
					<%= i.select(:lab_id, options_for_select(@labs.map { |l| [l.sae_name, l.id] }, @income.lab_id), {}, {class: "form-control", 
						:onchange => "setSAECodeIncomes();"} ) %>
				</div>
			</div>
			
			<div class="form-group">
				<label for='income_sae_code' class="col-xs-3 control-label text-right">Código SAE <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :sae_code, class: 'form-control', :readonly => true %>
				</div>
			</div>
			
			<div class="form-group">
				<label for='income_origin' class="col-xs-3 control-label text-right">Origen <span style="color:#FF0000">*</span></label>
				<div class="col-xs-3">		
					<%= i.select(:origin, options_for_select(Income.origin_str.zip(Income.origins.keys), @income.origin), {}, {class: "form-control"} ) %>
				</div>
			</div>
			
			<div class="form-group">
				<label for='income_description' class="col-xs-3 control-label text-right">Descripción <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :description, class: 'form-control' %>
				</div>
			</div>
			
			<div class="form-group">
				<label for='income_amount' class="col-xs-3 control-label text-right">Monto <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<div class="input-group">
      <span class="input-group-addon">Bs.</span>
						<%= i.text_field :amount, class: 'form-control', value: number_to_currency(i.object.amount, format: "%n", delimiter: ".", separator: ",", precision: 2), :onblur => "setIncomeAmount();", placeholder: '0.000,00' %>
					</div>
				</div>
			</div>
			
			<hr />	
			
			<div class="form-group">
				<label for='income_financing' class="col-xs-3 control-label text-right">Fuente de Financiamiento</label>
				<div class="col-xs-4">
					<%= i.select(:financing, options_for_select(Income.financing_str.zip(Income.financings.keys), @income.financing), {}, {class: "form-control"} ) %>
				</div>
			</div>
			
			<div class="form-group">
				<label for='income_organism' class="col-xs-3 control-label text-right">Organismo</label>
				<div class='col-xs-4'>
					<%= i.text_field :organism, class: 'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<label for='income_doc_code' class="col-xs-3 control-label text-right">Número de Documento <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :doc_code, class: 'form-control' %>
				</div>
			</div>			

			<div class="form-group">
				<label for='income_date' class="col-xs-3 control-label text-right">Fecha del Documento <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :doc_date, value: (@income.doc_date unless @income.doc_date.nil?), class: 'bootlayout-date form-control', placeholder: 'Fecha del Documento' %>
				</div>
			</div>

			<div class="form-group">
				<label for='income_document' class="col-xs-3 control-label text-right">Documento <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<div class='carrier-wave-field'>
    					<%= i.file_field :document %>
    				</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for='income_date' class="col-xs-3 control-label text-right">Fecha <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :date, value: (@income.date.strftime("%d/%m/%Y") unless @income.date.blank?), class: 'bootlayout-date form-control', placeholder: 'Fecha de Recepción' %>
				</div>
			</div>

			<hr />	
			
			<div class="form-group">
				<label for='income_unit' class="col-xs-3 control-label text-right">Unidad de Medida </label>
				<div class='col-xs-4'>
					<%= i.text_field :unit, class: 'form-control' %>
				</div>
			</div>			
			<div class="form-group">
				<label for='income_variation' class="col-xs-3 control-label text-right">Variación de la
meta física </label>
				<div class='col-xs-4'>
					<%= i.text_field :variation, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<label for='income_resource' class="col-xs-3 control-label text-right">Recurso de Aplicación </label>
				<div class="col-xs-4">
					<%= i.select(:resource, options_for_select(Income.resource_str.zip(Income.resources.keys), @income.resource), {}, {class: "form-control"} ) %>
				</div>
			</div>
   <div class="form-group">
				<label for='income_resource_description' class="col-xs-3 control-label text-right">Descripción </label>
				<div class='col-xs-4'>
					<%= i.text_area :resource_description, class: 'form-control' %>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<button type="submit" class="btn btn-default btn-primary" onclick="return confirm('¿Está seguro de modificar el ingreso?')"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;Actualizar Ingreso</button>

					<%= link_to @income, class: "btn btn-default btn-danger" do %>
						<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancelar Operación
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-xs-12">
		<div class="well">
			<span style="color:#FF0000">*</span> Los campos son obligatorios.
		</div>
	</div>
</div>
