<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Presupuesto', budget_path %></li>
			<% if current_user.director? or current_user.directorate? or current_user.acquisition? or current_user.acquisition_analist? or current_user.import? or current_user.manage? or current_user.manage_analist? or current_user.quality? %>
				<li><%= link_to 'Ingresos', incomes_path %></li>
			<% else %>
			    <!-- falta obtener lab -->
				<% if current_user.labBoss? or current_user.labassistant? %>
					<li><%= link_to 'Ingresos', controller: 'incomes', action: 'list_lab', id: current_user.lab %></li>
				<% end %>
			<% end %>				
			<li class="active"><%= @income.id%></li>
		</ol>
	</div>

	<div class="col-xs-12" align="right">
		<%= link_to 'javascript:history.go(-1);', class: "btn btn-primary" do %>
     		<span class="glyphicon glyphicon-arrow-left"></span></span>&nbsp;&nbsp;Volver
    	<% end %>
		</br>
		</br>    	
	</div>    

	<div class="col-xs-12">
		<table class="table table-striped">
			<tr>
				<th class="active text-center" colspan="2"><h2><%= @income.description %></h2></th>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Fecha:</td>
				<td class="col-xs-7"><%= @income.date unless  @income.date.blank? %>  </td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Dependencia:</td>
				<td class="col-xs-7"><%= @income.lab.sae_name %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Código SAE:</td>
				<td class="col-xs-7"><%= @income.sae_code %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Origen:</td>
				<td class="col-xs-7"><%= Income.origin_str[Income.origins[@income.origin]] %></td>
			</tr>
			<% if !@income.financing.blank? -%>			
			<tr>
				<td class="col-xs-5 text-right">Fuente de Financiamiento:</td>
				<td class="col-xs-7"><%= Income.financing_str[Income.financings[@income.financing]] %></td>
			</tr>
            <% end %>			
			<% if !@income.organism.blank? -%>
  			  <tr>
				<td class="col-xs-5 text-right">Organismo:</td>
				<td class="col-xs-7"><%= @income.organism %></td>
			  </tr>
            <% end %>
			<% if !@income.doc_code.blank? -%>
			  <tr>
				<td class="col-xs-5 text-right">Número del Documento:</td>
				<td class="col-xs-7"><%= @income.doc_code %></td>
  			  </tr>
            <% end %>
			<tr>
				<td class="col-xs-5 text-right">Fecha del Documento:</td>
				<td class="col-xs-7"><%= @income.doc_date unless  @income.date.blank? %>  </td>
			</tr>
			<% if !@income.doc_code.blank? -%>
			  <tr>
				<td class="col-xs-5 text-right">Documento:</td>
				<td class="col-xs-7"><%= link_to "Consultar", @income.document_url %></td>
  			  </tr>
            <% end %>
			<tr class="success">
				<td class="col-xs-5 text-right"> <font size=3.6> Monto: </font> </td>
				<td class="col-xs-7"> <div id="span1"> <font size=3.6> Bs. </div> <div id="span2" align="right"> <font size=3.6> <%= number_to_currency(@income.amount, format: "%n", delimiter: ".", separator: ",", precision: 2) %> </font> </div> </td>
			</tr>
		</table>
	</div>
	<% if current_user.manage? or current_user.manage_analist? %>	
		<div class="col-xs-12">
			<%= link_to edit_income_path do %>
				<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editar Ingreso</button>
			<% end %>
			<%= link_to '<button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Consultar Planilla de Modificación Presupuestaria </button>'.html_safe, income_path(@income, :format => 'pdf') %>
		</div>
	<% end %>
</div>

<style>
	#span1 { width: 25px; float: left; height:100%; }
    #span2 { width: 110px; float: left; height:50%;}
</style>
