
<table id="example" class="table table-hover" >
	  <thead>
		 <tr>
		   <th align="left">Nro</th>
		   <th align="left">Nombre de la empresa</th>
		   <th align="left">Contacto</th>
		   <th align="left">Correo del contacto</th>
<th align="left"></th>
		 </tr>
	  </thead>

	  <tbody>

	<% if current_user.director? %>
				<% @invitationsAll.each_with_index do |invitation,index| %>
	  		<tr>
		     <td><%= index+1 %></td>
		     <td><%= invitation.nombre %></td>
		     <td><%= invitation.contacto %></td>
		     <td><%= invitation.correo_contacto %></td>
<td style="text-decoration:none; color:black; text-align: right"><a href="/invitations/<%= invitation.id %>.pdf"><button type="button" class="btn btn-primary"> Descargar </button></a> <%= link_to '<button type="button" class="btn btn-warning"> Consultar </button>'.html_safe, invitation %></td>     
		   </tr>
		 <% end %>
		 <% if @sumInvitationsAll == 0 %>
		 	<tr class="warning">
				<td class="text-center" colspan="5"><h4>No hay invitaciones registradas</h4></td>
			</tr>
		 <% end %>
<% else %>
		 <% @invitations.each_with_index do |invitation,index| %>
	  		<tr>
		     <td><%= index+1 %></td>
		     <td><%= invitation.nombre %></td>
		     <td><%= invitation.contacto %></td>
		     <td><%= invitation.correo_contacto %></td>
<td style="text-decoration:none; color:black; text-align: right"><a href="/invitations/<%= invitation.id %>.pdf"><button type="button" class="btn btn-primary"> Descargar </button></a> <%= link_to '<button type="button" class="btn btn-warning"> Consultar </button>'.html_safe, invitation %></td>     
		   </tr>
		 <% end %>
		 <% if @sumInvitation == 0 %>
		 	<tr class="warning">
				<td class="text-center" colspan="5"><h4>No hay invitaciones registradas</h4></td>
			</tr>
		 <% end %>
<% end %>
	  </tbody>
	</table>
<script>
$(document).ready(function() {
				$('#example').dataTable( {
					"bJQueryUI": true,
					"sPaginationType": "full_numbers"
					
				} );
			} );
$.fn.dataTableExt.sErrMode = 'throw';
</script>

<style>

a:visited { 
   color:black;
   font-weight: bold;
	font-size: 110%;
}

#invitationTable th {
      background-color: #94E79E;
      border-color:#7A7070;
     font-size: 14px;
  }

#invitationTable th, td, tr{
 border-color:black;
 }



 .table-hover {

border-color:#7A7070;

}

.table-hover>tbody>tr>td {

border-color:#7A7070;

}

.table-hover>tbody>tr:hover {
background-color: #ffff99;
}

#invitationTable tr:nth-child(even) {

background-color: #F2F8F7;

}

input[type=submit] {
-webkit-appearance: button;
cursor: pointer;
background-color:#F8F0BE;
border-radius:px;
}

</style>
