<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= javascript_include_tag 'jquery.dataTables.js' %>
<%= javascript_include_tag 'tabla.js' %>


  <ol class="breadcrumb">
   <li> <%=link_to 'Inicio', controller: 'statics'%></li>
   <li> <%=link_to 'Inventario', inventario_url %></li>
    <li class="active"> Donaciones </li>
  </ol>


<div class="col-xs-12 ">
  <div class="col-xs-6 text-left">
    <h1><i class="fa fa-gift"></i>  Donaciones</h1>
  </div>

  <div class="col-xs-6 text-right">
    <%= link_to inventario_url do %>
      <button type="button" class="btn btn-primary"><span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Volver</button>
    <% end %>
  </div>
</div>






<div class="col-xs-12">

	<div class="col-xs-12">
		<body id="dt_example" class="ex_highlight_row">

			<div id="container">
				<div id="demo">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
						<thead>
							<tr>
                <th align="center">Tipo</th>
								<th align="center">Nombre</th>
						    <th align="center">Marca</th>
						    <th align="center">Cantidad</th>
                <th align="center">Unidad de Medida</th>
							</tr>
						</thead>

						<tbody>
							<% @donations.each do |donation| %>
						  		<tr>
                   <td><%= donation.tipo %></td>
							     <td style="text-decoration:underline; color:black"><%= link_to donation.nombreItem, donation %></td>
							     <td><%= donation.marca %></td>
							     <td><div style="text-align:center"><%= donation.cantidad %></div></td>
                   <td><%= donation.unidadMedida %></td>
							   </tr>
							 <% end %>
						</tbody>
					</table>
					<div class="spacer"></div>
				</div>
			</div>
		</body>

		<p></p>

	</div>

 <div class="col-xs-12" align="left">
  <p></p>
  <% if can? :create, @donation %>
    <%= link_to new_donation_path do %>
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Agregar Donación</button>
  <% end %>
</div>  

<% end %>      

  <br><br><br>

</div>

  <br>

<style>

.red {
    font-size               : 22px;
    color                   : red;
}

.Informacion {
    line-height             :1.6em;
}

.linkButton { 
   text-decoration: none;
   text-align: right;
   color: #384157;
   font-weight: bold;
     background: none repeat scroll 0px 0px transparent;
     border: none;
}

.linkButton:hover {
    cursor: pointer;
    color: #8ED6FF;
    text-align: right;
    background: none repeat scroll 0% 0% #FFF;
    text-decoration: none;
}

.linkButton:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

</style>


