<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li> <%=link_to 'Inicio', controller: 'statics'%></li>
  <li> <%=link_to 'Inventario', inventario_url %></li>
  <li> <%=link_to 'Donaciones', donations_path %></li>
  <li class="active"> Ver Donación </li>
</ol>

<div class ="Informacion">
  <div class="col-xs-12">
    <table class="table table-striped">

    <tr>
      <td class="col-xs-5 text-right"><strong>Nombre:</strong></td>
      <td class="col-xs-7"> <%= @donation.nombreItem %>
      </td>
    </tr>

    <tr>
      <td class="col-xs-5 text-right"><strong>Marca:</strong></td>
      <td class="col-xs-7"> <%= @donation.marca %>
      </td>
    </tr>

    <tr>
      <td class="col-xs-5 text-right"><strong>Modelo:</strong></td>
      <td class="col-xs-7"> <%= @donation.modelo %>
      </td>
    </tr>

    <tr>
      <td class="col-xs-5 text-right"><strong>Cantidad:</strong></td>
      <td class="col-xs-7"> <%= @donation.cantidad %>
      </td>
    </tr>

    <tr>
      <td class="col-xs-5 text-right"><strong>Unidad de Medida:</strong></td>
      <td class="col-xs-7"> <%= @donation.unidadMedida %>
      </td>
    </tr>

    <tr>
      <td class="col-xs-5 text-right"><strong>Tipo:</strong></td>
      <td class="col-xs-7"> <%= @donation.tipo %>
      </td>
    </tr>

    </div>
  </table>

<br><br>
<% if can? :update, @donation %>
<i class="fa fa-cog"></i><%= link_to ' Editar', edit_donation_path(@donation) %> |
<% end %>
<% if can? :hide, @instrument %>
      <i class="fa fa-times fa-1x"></i><%= link_to 'Eliminar', @instrument, method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar esta donación?' } %> |
<% end %>
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', donations_path %>
<br><br><br><br>