<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= javascript_include_tag 'jquery.dataTables.js' %>
<%= javascript_include_tag 'tabla.js' %>


<div class="row">	
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Presupuesto', controller: 'budget' %></li>
			<li class="active">Resumen Presupuestario</li>
		</ol>
	</div>
	
	<div class="col-xs-12" align="right">
		<%= link_to 'javascript:history.go(-1);', class: "btn btn-primary" do %>
     		<span class="fa fa-arrow-left"></span></span>&nbsp;&nbsp;Volver
    	<% end %>
	</div>     
	
	<div class="col-xs-12">
		<h2><center>Resumen Presupuestario</center></h2>
	</div>
	<div class="col-xs-12">
		<div class="well">
			Todos los montos están expresados en bolívares.
		</div>
	</div>

	<div class="col-xs-12">

		<body id="dt_example" class="ex_highlight_row">

			<div id="container">
				<div id="demo">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
						<thead>
							<tr>
								<th class="text-center">Dependencia</th>
								<th class="text-center">Monto Asignado</th>
								<th class="text-center">Monto Comprometido</th>
								<th class="text-center">Monto Ejecutado</th> 
								<th class="text-center">Saldo Disponible</th>
							</tr>
						</thead>
						<tbody>
							<% @labs.each do |l| %>
								<tr>
									<td class="text-center"><%= link_to l.sae_name, controller: 'labs', action: 'show', id: l.id %> </td>
									<td class="text-center"><%= number_to_currency(@incomes_lab[l.id], format: "%n", delimiter: ".", separator: ",") %></td>
									<td class="text-center"><%= number_to_currency(@commitments_lab[l.id], format: "%n", delimiter: ".", separator: ",") %></td>									
									<td class="text-center"><%= number_to_currency(@executions_commitement[l.id], format: "%n", delimiter: ".", separator: ",") %></td>									
									<td class="text-center"><%= number_to_currency(@incomes_lab[l.id] - @commitments_lab[l.id], format: "%n", delimiter: ".", separator: ",") %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<div class="spacer"></div>
				</div>
			</div>
		</body>
		
		<br></br>
					
			<div class="well">
				<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
					<tbody>
						<thead>
							<tr>
								<th class="text-center"></th>
								<th class="text-center">Monto Asignado</th>
								<th class="text-center">Monto Comprometido</th>
								<th class="text-center">Monto Ejecutado</th>
								<th class="text-center">Saldo Disponible</th>
							</tr>
						</thead>

						<tr>
							<td class="text-center">TOTALES</td>
							<td class="text-center"><%= number_to_currency(@incomes_total, format: "%n", delimiter: ".", separator: ",") %></td>
							<td class="text-center"><%= number_to_currency(@commitments_total, format: "%n", delimiter: ".", separator: ",") %></td>
							<td class="text-center"><%= number_to_currency(@executions_total, format: "%n", delimiter: ".", separator: ",") %></td>
							<td class="text-center"><%= number_to_currency(@incomes_total - @commitments_total, format: "%n", delimiter: ".", separator: ",") %></td>
						</tr>
					</tbody>
				</table>
			</div>


		<% if current_user.director? or current_user.directorate? or current_user.gsmp? or current_user.acquisition? or current_user.acquisition_analist? or current_user.import? or current_user.manage? or current_user.manage_analist? or current_user.quality? %>
			<%= link_to '<button type="button" class="btn btn-primary"> <i class="fa fa-download"></i> Descargar Resumen Presupuestario </button>'.html_safe, budget_path("budget", :format => 'pdf') %>
		<% end %>

	</div>
</div>