	<div class="row">
		<div class="col-xs-12">
			<ol class="breadcrumb">
				<li><%= link_to 'Inicio', controller: 'statics' %></li>
				<li><%= link_to 'Administración', administration_path %></li>
				<li><%= link_to 'Proyectos', projects_path %></li>
				<li><%= link_to @project.id, @project %></li>
				<li class="active">Editar Proyecto</li>
			</ol>
		</div>
		<% if @project.errors.any? %>
			<div class="col-xs-12" role="alert">
				<div class="alert alert-danger">
					<ul>
						<% @project.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>	
				</div>
			</div>
		<% end %>
		<div class="col-xs-12">
			<%= form_for @project, url: {action: 'update'}, id: @project.id, html: { class: 'form-horizontal' } do |i| %>	
				<div class="form-group">
					<label for='project_number' class="col-xs-3 control-label text-right">Número del Proyecto <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<%= i.text_field :project_number, class: 'form-control' %>
					</div>
				</div>

				<div class="form-group">
					<label for='contract' class="col-xs-3 control-label text-right">Número del Contrato <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<%= i.text_field :contract, class: 'form-control' %>
					</div>
				</div>			

				<div class="form-group">
					<label for='title' class="col-xs-3 control-label text-right">Título del proyecto <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<%= i.text_area :title, class: 'form-control' %>
					</div>
				</div>			
				
				<div class="form-group">
					<label for='responsible' class="col-xs-3 control-label text-right">Responsable técnico <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<%= i.text_field :responsible, class: 'form-control' %>
					</div>
				</div>	

				<hr />	

				<div class="form-group">
					<label for='admin' class="col-xs-3 control-label text-right">Administrador del proyecto <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<%= i.select(:admin, options_for_select(Project.admin_str.zip(Project.admins.keys), @project.admin), {}, {class: "form-control", :onchange => "setSAECode();"} ) %>
					</div>
				</div>	

				<div class="form-group">
					<label for='sae_code' class="col-xs-3 control-label text-right">Código SAE <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<%= i.text_field :sae_code, class: 'form-control', :readonly => true  %>
					</div>
				</div>				

				<hr />	
			
				<div class="form-group">
					<label for='amountdist' class="col-xs-3 control-label text-right">Distribución del monto:</label>
					<div class='col-xs-4'>
						<div class="input-group">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for='equipments' class="col-xs-3 control-label text-right">Equipos <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<div class="input-group">
							<%= i.text_field :equipments, class: 'form-control', :onblur => "calculateAmount();" %>
							<span class="input-group-addon">Bs.</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for='services' class="col-xs-3 control-label text-right">Servicios <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<div class="input-group">
							<%= i.text_field :services, class: 'form-control', :onblur => "calculateAmount();" %>
							<span class="input-group-addon">Bs.</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for='infrastructure' class="col-xs-3 control-label text-right">Infraestructura <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<div class="input-group">
							<%= i.text_field :infrastructure, class: 'form-control', :onblur => "calculateAmount();" %>
							<span class="input-group-addon">Bs.</span>
						</div>
					</div>
				</div>			

				<div class="form-group">
					<label for='hhrr' class="col-xs-3 control-label text-right">Personal <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<div class="input-group">
							<%= i.text_field :hhrr, class: 'form-control', :onblur => "calculateAmount();" %>
							<span class="input-group-addon">Bs.</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for='consumables' class="col-xs-3 control-label text-right">Consumibles <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<div class="input-group">
							<%= i.text_field :consumables, class: 'form-control', :onblur => "calculateAmount();" %>
							<span class="input-group-addon">Bs.</span>
						</div>
					</div>
				</div>			

				<div class="form-group">
					<label for='amount' class="col-xs-3 control-label text-right">Monto asignado (Bs) <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<div class="input-group">
							<%= i.text_field :amount, class: 'form-control', :readonly => true %>
							<span class="input-group-addon">Bs.</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for='incoming_date' class="col-xs-3 control-label text-right">Fecha de Ingreso de los Recursos</label>
					<div class='col-xs-4'>
						<%= i.text_field :incoming_date, value: (@project.incoming_date.strftime("%d/%m/%Y") unless @project.incoming_date.blank?), class: 'bootlayout-date form-control'%>
					</div>
				</div>

				<hr />	

				<div class="form-group">
					<label for='status' class="col-xs-3 control-label text-right">Estatus <span style="color:#FF0000">*</span></label>
					<div class='col-xs-4'>
						<%= i.select(:status, options_for_select(Project.status_str.zip(Project.statuses.keys), @project.status), {}, {class: "form-control"} ) %>
	       		    </div>
				</div>				
				
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9">
						<button type="submit" class="btn btn-default btn-primary" onclick="return confirm('¿Está seguro de modificar el proyecto?')"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;Actualizar Proyecto</button>

						<%= link_to @project, class: "btn btn-default btn-danger" do %>
							<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancelar Operación
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-xs-12">
			<div class="well">
				<span style="color:#FF0000">*</span> Los campos son obligatorios.
			</div>
		</div>
	</div>
