<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-12">
			<ol class="breadcrumb">
				<li><%= link_to 'Inicio', controller: 'statics' %></li>
			</ol>
		</div>
		<div class="col-xs-8 col-xs-offset-2">
			<ul class="administration-list">
			<div class="grid_7 push_3">
			 <br>
			 <br>
			 <br>
			 <%= link_to '<button type="button" class="btn btn-primary"> &nbsp; &nbsp; <i class="fa fa-shopping-cart"></i> </button>'.html_safe, compras_url %>
			 <%= link_to '<button type="button" class="btn btn-primary"> &nbsp; &nbsp; Compras &nbsp; &nbsp; </button>'.html_safe, compras_url %><br><br>

			 <%= link_to '<button type="button" class="btn btn-primary"> &nbsp; &nbsp; <i class="fa fa-eyedropper"></i> </button>'.html_safe, inventario_url %>
			 <%= link_to '<button type="button" class="btn btn-primary"> &nbsp; &nbsp; Inventario &nbsp; &nbsp; </button>'.html_safe, inventario_url %><br><br>

			 <%= link_to '<button type="button" class="btn btn-primary"> &nbsp; &nbsp; <i class="fa fa-calculator"></i> </button>'.html_safe, administration_url %>
			 <%= link_to '<button type="button" class="btn btn-primary"> Administración </button>'.html_safe, administration_url %><br><br>
			</div>
			</ul>
		</div>
	
<% end %>
