<%= javascript_include_tag 'jquery-1.10.2.js'%>
<%= javascript_include_tag 'jquery-ui.js' %>
<%= stylesheet_link_tag 'jquery-ui.css'%>
<%= javascript_include_tag 'tabs.js' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administraci칩n', administration_path %></li>
			<li><%= link_to 'Anteproyecto de POA', poas_path %></li>
			<li class="active">Nuevo Anteproyecto</li>
		</ol>
	</div>
	<% if @poa.errors.any? %>
		<div class="col-xs-12" role="alert">
			<div class="alert alert-danger">
				<ul>
					<% @poa.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>	
			</div>
		</div>
	<% end %>
</div>

	<div class="col-xs-12">
		<%= form_for @poa, url: {action: 'create'}, html: { class: 'form-horizontal' } do |i| %>	
			
			<div class="form-group">
				<label for='poa_document' class="col-xs-3 control-label text-right">Documento <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
    				<%= i.file_field :document %>
				</div>
			</div>		
    		<div class="form-group">
				<label for='poa_year' class="col-xs-3 control-label text-right">A침o <span style="color:#FF0000">*</span></label>
				<div class='col-xs-4'>
					<%= i.text_field :year, placeholder: 'A침o' %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;Agregar Anteproyecto</button>
					<%= link_to incomes_path, class: "btn btn-default btn-danger" do %>
						<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancelar Operaci칩n
					<% end %>
				</div>
			</div>
		<% end %>

	</div>
	<div class="col-xs-12">
		<div class="well">
			<span style="color:#FF0000">*</span> Los campos son obligatorios.
		</div>
	</div>
</div>


<style>
.file_field input {
    color: red; /*or whatever you want to change*/
}
</style>
