<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= javascript_include_tag 'jquery.dataTables.js' %>
<%= javascript_include_tag 'tabla.js' %>


<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Presupuesto', budget_path %></li>
			<% if current_user.director? or current_user.directorate? or current_user.acquisition? or current_user.acquisition_analist? or current_user.import? or current_user.manage? or current_user.manage_analist? or current_user.quality? %>
				<li><%= link_to 'Resumen Presupuestario', controller: 'budget', action: 'summary' %></li>
			<% end %>
			<li><%= link_to @lab.sae_name, controller: 'labs', action: 'show', id: @lab.id %></li>				
			<li class="active">Compromisos</li>
		</ol>
	</div>

	<div class="col-xs-12" align="right">
		<%= link_to 'javascript:history.go(-1);', class: "btn btn-primary" do %>
     		<span class="glyphicon glyphicon-arrow-left"></span></span>&nbsp;&nbsp;Volver
    	<% end %>
	</div>   	

	<div class="col-xs-12">
		<h2><center>Compromisos de <%= @lab.sae_name %> </center></h2>
	</div>

	<div class="col-xs-12">
		<div class="well">
			El monto está expresado en bolívares.
		</div>
	</div>


	<div class="col-xs-12">
		<body id="dt_example" class="ex_highlight_row">

			<div id="container">
				<div id="demo">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
						<thead>
							<tr>
								<th class="text-center">Fecha</th>
								<th class="text-center">Descripción</th>
								<th class="text-center">Monto</th>
							</tr>
						</thead>

						<tbody>
							<% @commitments.each do |c| %>
								<tr>
									<td class="text-center"><%= c.date.strftime('%d/%m/%Y') %></td>
									<td><%= link_to c.description, c %></td>
									<td class="text-right"><%= number_to_currency(c.amount, format: "%n", delimiter: ".", separator: ",", precision: 2) %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<div class="spacer"></div>
				</div>
			</div>
		</body>

		<p></p>

		<div class="well" align="right">
			<h4>Monto Total Comprometido: Bs. <%= number_to_currency(@sum, format: "%n", delimiter: ".", separator: ",") %></h4>
		</div>

	</div>

</div>
