<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= javascript_include_tag 'jquery.dataTables.js' %>
<%= javascript_include_tag 'tabla.js' %>

  <ol class="breadcrumb">
   <li> <%=link_to 'Inicio', controller: 'statics'%></li>
   <li> <%=link_to 'Inventario', inventario_url %></li>
    <li class="active"> Préstamo </li>
  </ol>


<div class="col-xs-12 ">
  <div class="col-xs-6 text-left">
    <h1><i class="fa fa-list"></i>  Préstamos Solicitados  </h1>
  </div>

  <div class="col-xs-6 text-right">
    <%= link_to inventario_url do %>
      <button type="button" class="btn btn-primary"><span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Volver</button>
    <% end %>
  </div>
</div>



<div class="col-xs-12">

	<div class="col-xs-12">
		<body id="dt_example" class="ex_highlight_row">

			<div id="container">
				<div id="demo">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
						<thead>
							<tr>
							   <th align="left">Identificador</th>
							   <th align="left">Fecha Requerida</th>
							   <th align="left">Ubicación Destino</th>
							 </tr>
						</thead>

						<tbody>
							<% @loans.each do |loan| %>
						  		<tr>
							     <td style="text-decoration:underline; color:black"><%= link_to loan.id, loan %></td>
							     <td><%= loan.fechaEntrega %></td>
							     <td><%= loan.ubicacion %></td>
							   </tr>
							 <% end %>
						</tbody>
					</table>
					<div class="spacer"></div>
				</div>
			</div>
		</body>

		<p></p>

	</div>
 
</div>

  <br>

<style>

.red {
    font-size               : 22px;
    color                   : red;
}

.Informacion {
    line-height             :1.6em;
}

.linkButton { 
   text-decoration: none;
   text-align: right;
   color: #384157;
   font-weight: bold;
     background: none repeat scroll 0px 0px transparent;
     border: none;
}

.linkButton:hover {
    cursor: pointer;
    color: #8ED6FF;
    text-align: right;
    background: none repeat scroll 0% 0% #FFF;
    text-decoration: none;
}

.linkButton:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

</style>


