<%= stylesheet_link_tag 'style.css' %>
<%= javascript_include_tag 'jquery.accordion.js' %>
<%= javascript_include_tag 'jquery.easing.1.3.js' %>

<h1>Nueva Solicitud</h1>
<ol class="breadcrumb">
	<li> <%=link_to 'Inicio', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li class="active"> Nuevo Préstamo </li>
</ol>

<div id = "table2">
</div>
<br>

<div class="col-xs-12 text-right">
  <%= link_to inventario_url do %>
    <button type="button" class="btn btn-primary"><span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Volver</button>
    <br><br>
  <% end %>
</div>


<div class="col-xs-12">

  <div class="col-xs-8">

    <%= form_for @loan, url: {action: 'create'}, html: { class: 'form-horizontal' } do |i| %> 
      <% if @loan.errors.any? %>
        <div class="col-xs-12" role="alert">
          <div class="alert alert-danger">
            <ul>
              <% @loan.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <label for='income_lab_id' class="col-xs-4 control-label text-right">Fecha requerida: <span style="color:#FF0000">*</span></label>
        <div class="col-xs-5">
          <%= i.text_field :fechaEntrega, :class => "bootlayout-date" %>
        </div>
      </div>

      <div class="form-group">
        <label for='income_sae_code' class="col-xs-4 control-label text-right">Ubicación Destino: <span style="color:#FF0000">*</span></label>
        <div class='col-xs-5'>
          <%= i.text_field :ubicacion %>
        </div>
      </div>

      <div class="form-group">
        <label for='income_lab_id' class="col-xs-4 control-label text-right">Fecha Tope de entrega: <span style="color:#FF0000">*</span></label>
        <div class="col-xs-5">
          <%= i.text_field :fechaTope, :class => "bootlayout-date" %>
        </div>
      </div>

      <div class="form-group">
        <label for='income_lab_id' class="col-xs-4 control-label text-right">Condiciones del Préstamo: <span style="color:#FF0000">*</span></label>
        <div class="col-xs-5">
          <%= i.text_field :condiciones %>
        </div>
      </div>
      
      <div class="form-group">
        <label for='income_origin' class="col-xs-4 control-label text-right">Cantidad: </label>
        <div class="col-xs-5">    
          <%= i.number_field(:medida, min: 0, :step => 'any') %><%= i.select(:unidadMedida, [['Un'], ['kg'], ['g'], ['mg'], ['l'], ['ml'] ] ) %>
        </div>
      </div>

      <%= hidden_field_tag "item_ids", @id %>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
          <button type="submit" class="btn btn-default btn-success"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;Crear</button>
        </div>
      </div>

    <% end %>

  </div>
  <div class="col-xs-4">
    <table id="itemTable" class="table table-hover">
      <thead>
        <tr>
          <th class="tg-hgcj"> Código del Bien</th>
          <th class="tg-093g">Nombre</th>
        </tr>
      </thead>

      <tbody>
        <% @sustancias.each do |sustancia| %>
          <tr>
            <td class="tg-s6z2"><%= sustancia.id2 %></td>
            <td class="tg-s6z2"><%=  sustancia.name  %></td>
          </tr>
        <% end %>
        <% @equipment.each do |equipment| %>
          <tr>
            <td class="tg-s6z2"><%= equipment.id2 %></td>
            <td class="tg-s6z2"><%=  equipment.name  %></td>
          </tr>
        <% end %>
        <% @tools.each do |tool| %>
          <tr>
            <td class="tg-s6z2"><%= tool.id2 %></td>
            <td class="tg-s6z2"><%=  tool.name  %></td>
          </tr>
        <% end %>
        <% @consumables.each do |consumable| %>
          <tr>
            <td class="tg-s6z2"><%= consumable.id2 %></td>
            <td class="tg-s6z2"><%=  consumable.name  %></td>
          </tr>
        <% end %>
        <% @instruments.each do |instrument| %>
          <tr>
            <td class="tg-s6z2"><%= instrument.id2 %></td>
            <td class="tg-s6z2"><%=  instrument.name  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  <br>
<br><br>
<br><br>


  <style>

    .red {
        font-size               : 22px;
        color                   : red;
    }

    .linkButton { 
       text-decoration: none;
       text-align: right;
       color: #384157;
       font-weight: bold;
         background: none repeat scroll 0px 0px transparent;
         border: none;
    }

    .linkButton:hover {
        cursor: pointer;
        color: #8ED6FF;
        text-align: right;
        background: none repeat scroll 0% 0% #FFF;
        text-decoration: none;
    }

    .linkButton:focus {
        outline: thin dotted;
        outline-offset: -2px;
    }

  </style>



