
	<table id="example" class="table table-hover" >
	  <thead>
		 <tr>
                   <th align="left">Nro</th>
                   <th align="left">Tipo</th>
		   <th align="left">Nombre</th>
		   <th align="left">Descripción</th>
                   <th align="left">Cantidad</th>
<th align="left"></th>
		 </tr>
	  </thead>

	  <tbody>


	<% if current_user.director? %>
		 <% @itemsAll.each_with_index do |item,index| %>
	  		<tr>
		     <td><%= index+1 %></td>
		     <td><%= item.tipo %></td>
                     <td><%= item.nombre %></td>
		     <td><%= item.descripcion %></td>
                     <td><%= item.cantidad %></td>

		     <td style="text-decoration:none; color:black; text-align: right"><%= link_to '<button type="button" class="btn btn-warning"> Consultar </button>'.html_safe, item %></td>
		   </tr>
		 <% end %>

	<% if @sumItemsAll == 0 %>
		 	<tr class="warning">
				<td class="text-center" colspan="5"><h4>No hay bienes/consumibles registrados</h4></td>
			</tr>
		 <% end %>
<% else %>
		 <% @items.each_with_index do |item, index| %>
	  		<tr>
                     <td><%= index+1 %></td>
		     <td><%= item.tipo %></td>
                     <td><%= item.nombre %></td>
		     <td><%= item.descripcion %></td>
                     <td><%= item.cantidad %></td>
                     <td style="text-decoration:none; color:black; text-align: right"><%= link_to '<button type="button" class="btn btn-warning"> Consultar </button>'.html_safe, item %></td>
		   </tr>
		 <% end %>

<% if @sumItem == 0 %>
		 	<tr class="warning">
				<td class="text-center" colspan="5"><h4>No hay bienes/consumibles registrados</h4></td>
			</tr>
		 <% end %>
<% end %>
		 
	  </tbody>
	</table>
<script>
$(document).ready(function() {
				$('#example').dataTable( {
					"bJQueryUI": true,
					"sPaginationType": "full_numbers"
					
				} );
			} );
$.fn.dataTableExt.sErrMode = 'throw';
</script>
<style>


a:visited { 
   color:black;
   font-weight: bold;
	font-size: 110%;
}


#itemTable th {
      background-color: #94E79E;
      border-color:#7A7070;
      font-size: 14px;
  }

#itemTable th td tr{
 border-color:black;
 }


.table-hover {

border-color:#7A7070;

}

.table-hover>tbody>tr>td {

border-color:#7A7070;

}

.table-hover>tbody>tr:hover {
background-color: #ffff99;
}

#itemTable tr:nth-child(even) {

background-color: #F2F8F7;

}

input[type=submit] {
-webkit-appearance: button;
cursor: pointer;
background-color:#F8F0BE;
border-radius:px;
}

</style>

