<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= render 'menu' %>
<div style="margin-top: 30px;margin-bottom: -50px; margin-left: 10px;width:500px;"><h3>Items</h3></div>
<div style="text-align: right; height: 45px; margin-top: 12px;">
	<% if session['specification_p1'] != 2 && !current_user.director?  %><%= link_to '<button type="button" class="btn btn-success"> <span style="font-size:10px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Bien/Consumible </button>'.html_safe, new_item_path %><% end %> <% if session['specification_p1'] == 2 && !current_user.director? %><%= link_to '<button type="button" class="btn btn-primary"> Descargar solicitud </button>'.html_safe, items_path(@item, :format => 'pdf') %> <% else %> <% if @sumItem != 0 %><%= link_to '<button type="button" class="btn btn-primary"> Descargar solicitud </button>'.html_safe, items_path(@item, :format => 'xml'), :onclick => "return confirm('¿Está seguro que desea generar la especificación técnica? Luego de hacerlo no podrá agregar ni modificar más elementos.')" %> <% end %><% end %>
	</div>

		<%= render 'itemtable' %>

	</div>
</body>
</html>

<style>
  
#agregar {
  font-size: 14px;
}

h3 {
  position: relative;
}

</style>
<script>
if (window.location.search.replace("?", "") == "pdf=1")
{
window.location.href = "items.pdf";
}
</script>








