<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Presupuesto', budget_path %></li>
			<li><%= link_to 'Presupuesto', controller: 'budget' %></li>
			<li class="active">Resumen Presupuestario</li>
		</ol>
	</div>
	<div class="col-xs-12">
		<table class="table table-striped">
			<tr>
				<td class="col-xs-5 text-right">Monto asignado:</td>
				<td class="col-xs-7" ><div id="span1">Bs. </div> <div id="span2" align="right">  <%= number_to_currency(@incomes_total,
				format: "%n", delimiter: ".", separator: ",") %> </div> </td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Monto comprometido:</td>
				<td class="col-xs-7" ><div id="span1">Bs. </div> <div id="span2" align="right">  <%= number_to_currency(@commitments_total,
				format: "%n", delimiter: ".", separator: ",") %> </div> </td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Monto ejecutado:</td>
				<td class="col-xs-7" ><div id="span1">Bs. </div> <div id="span2" align="right">  <%= number_to_currency(@executions_total,
				format: "%n", delimiter: ".", separator: ",") %> </div> </td>
			</tr>			
			<tr>
				<td class="col-xs-5 text-right">Saldo disponible:</td>
				<td class="col-xs-7" ><div id="span1">Bs. </div> <div id="span2" align="right">  <%= number_to_currency(@incomes_total-@commitments_total, format: "%n", delimiter: ".", separator: ",") %> </div> </td>
			</tr>
		</table>
	</div>

</br>
<div class="col-xs-12">
	<%= link_to controller: 'projincomes', id: @project.id do %>
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp; Ingresos </button>
	<% end %>
	<%= link_to controller: 'projcommitments', id: @project.id do %>
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-minus-sign"></span>&nbsp;&nbsp; Compromisos </button>
	<% end %>
	<%= link_to controller: 'projexecutions', id: @project.id do %>
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Ejecuciones </button>
	<% end %>
</div>

<style>
	#span1 { width: 25px; float: left; height:100%; }
    #span2 { width: 110px; float: left; height:50%;}
</style>

