<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= javascript_include_tag 'jquery.dataTables.js' %>
<%= javascript_include_tag 'tabla.js' %>

<ol class="breadcrumb">
  <li> <%=link_to 'Inicio', controller: 'statics'%></li>
  <li> <%=link_to 'Inventario', inventario_url %></li>
  <li class="active"> Instrumentos de Medición </li>
</ol>  

  <% if flash[:notice] %>
    <div class="alert alert-danger"><%= flash[:notice] %></div>
  <% end %>

<div class="col-xs-12">
  <div class="col-xs-8 text-left">
  <h2><i class="fa fa-eyedropper"></i> Instrumentos de Medición</h2>
  </div>
  <div class="col-xs-4 text-right">
    <%= link_to inventario_url do %>
    <button type="button" class="btn btn-primary"><span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Volver</button>
    <br><br>
  <% end %>
  </div>
</div>
<br><br>


<div id="LeDivInstrumentos">


  <br>
      <body class="ex_highlight_row">
        <div id="container">
          <div id="demo">

            <%= form_tag (new_loan_path) do %>
            
              <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                  <tr>
                    <% if @sum > 0 %>
                    <th></th>
                    <% end %>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Marca</th>
                    <th class="text-center">N° de BN</th>
                    <th class="text-center">Ubicación</th>
                    <th class="text-center">Responsable</th>
                    <th class="text-center">Origen</th>
                   
                  </tr>
                </thead>

                <tbody>
                  <% @instruments.each do |instrument| %>
                    <tr>
                      <% if @sum > 0 %>
                        <td class="text-center"><%= check_box_tag "item_ids[]", instrument.id2 %></td>
                      <% end %>
                      <td class="text-center"><span class="mayus"><%= link_to instrument.name, instrument %></span></td>
                      <td class="text-center"><span class="mayus"><%= instrument.brand %></span></td>
                      <td class="text-center"><span class="mayus"><%= instrument.national_good %></span></td>
                      <td class="text-center"><span class="mayus"><%= instrument.location %></span></td>
                      <td class="text-center"><span class="mayus"><%= instrument.responsible %></span></td>
                      <td class="text-center"><span class="mayus"><%= instrument.origen %></span></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
            <div class="spacer"></div>
          </div>
        </div>
      </body>




   <br>

<div class="col-xs-12" align="left">
  <p></p>
  <% if can? :create, @instrument %>
    <%= link_to new_instrument_path do %>
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Agregar Instrumento</button>
    <% end %>
  <% end %>
  <button type="submit" class="btn btn-primary"><span class="fa fa-exchange"></span>&nbsp;&nbsp;Solicitar Préstamo</button>
  <span class="fa fa-retweet"></span><%= submit_tag "Solicitar Servicio", class: "linkButton"%>
</div>  

<% end %>      

  <br><br><br>

  </div>
 </div>

 <style>

.linkButton { 
   text-decoration: none;
   text-align: right;
   color: black;
     background: none repeat scroll 0px 0px transparent;
     border: none;
}

.mayus {
  text-transform: uppercase;
}

 </style>

  <script type="text/javascript">
  //<![CDATA[

  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }
    else
      localStorage.removeItem( 'firstLoad' );
  }
;
  //]]>
  </script>