<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= javascript_include_tag 'jquery.dataTables.js' %>
<%= javascript_include_tag 'tabla.js' %>

<ol class="breadcrumb">
  <li> <%=link_to 'Inicio', controller: 'statics'%></li>
  <li> <%=link_to 'Inventario', inventario_url %></li>
  <li class="active"> Instrumentos de Medición </li>
</ol>  

  <% if flash[:notice] %>
    <div class="alert alert-danger"><%= flash[:notice] %></div>
  <% end %>

<div id="LeDivInstrumentos">
  <h1><i class="fa fa-eyedropper"></i> Instrumentos de Medición</h1>

  <br>
      <body class="ex_highlight_row">
        <div id="container">
          <div id="demo">

            <%= form_tag (new_loan_path) do %>
            
              <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                  <tr>
                    <% if @sum > 0 %>
                      <th>Seleccionar</th>
                    <% end %>
                    <th class="tg-093g">Nombre</th>
                    <th class="tg-093g">Marca</th>
                    <th class="tg-093g">N° de BN</th>
                    <th class="tg-hgcj">Ubicación</th>
                    <th class="tg-hgcj">Responsable</th>
                    <th class="tg-hgcj">Origen</th>
                   
                  </tr>
                </thead>

                <tbody>
                  <% @instruments.each do |instrument| %>
                    <tr>
                      <% if @sum > 0 %>
                        <td class="tg-s6z2"><%= check_box_tag "item_ids[]", instrument.id2 %></td>
                      <% end %>
                      <td class="tg-s6z2"><%= link_to instrument.name, instrument %></td>
                      <td class="tg-s6z2"><%= instrument.brand %></td>
                      <td class="tg-s6z2"><%= instrument.national_good %></td>
                      <td class="tg-s6z2"><%= instrument.location %></td>
                      <td class="tg-qpa3"><%= instrument.responsible %></td>
                      <td class="tg-qpa3"><%= instrument.origen %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
            <div class="spacer"></div>
          </div>
        </div>
      </body>




   <br>

<div class="col-xs-12" align="left">
  <p></p>
  <% if can? :create, @instrument %>
    <%= link_to new_instrument_path do %>
      <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Agregar Instrumento</button>
    <% end %>
  <% end %>
  <button type="submit" class="btn btn-default" onclick="solicitar(item_ids);"><span class="fa fa-exchange"></span>&nbsp;&nbsp;Solicitar Préstamo/Servicio</button>
  <%= link_to inventario_url do %>
    <button type="button" class="btn btn-primary"><span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Atrás</button>
  <% end %>
</div>  

<% end %>      

  <br><br><br>

  </div>
 </div>

 <style>

.linkButton { 
   text-decoration: none;
   text-align: right;
   color: #384157;
   font-weight: bold;
     background: none repeat scroll 0px 0px transparent;
     border: none;
}

.linkButton:hover {
    cursor: pointer;
    color: #8ED6FF;
    text-align: right;
    background: none repeat scroll 0% 0% #FFF;
    text-decoration: none;
}

.linkButton:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

 </style>