<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>
<%= render 'menu' %>
<div style="margin-top: 30px;margin-bottom: -50px; margin-left: 10px; width:500px;"><h3>Acto Motivado</h3></div>
<div style="text-align: right; height: 45px; margin-top: 12px;"><%if @sumActs == 0%>
<%= link_to '<button type="button" class="btn btn-success"> <span style="font-size:10px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Acto Motivado </button>'.html_safe,  new_act_path %><% end %><% if session['specification_p5'] == 2 %><%= link_to '<button type="button" class="btn btn-primary"> Descargar solicitud </button>'.html_safe, acts_path(@act, :format => 'pdf') %> <% else %> <% if @sumActs != 0 %><%= link_to '<button type="button" class="btn btn-primary"> Descargar solicitud </button>'.html_safe, acts_path(@act, :format => 'xml'), :onclick => "return confirm('¿Está seguro que desea generar la solicitud? Luego de hacerlo no podrá agregar ni modificar más elementos.')" %> <% end %><% end %>
</div>

      <div style='text-align: center'>No existe un informe de recomendación registrado.
               </div>
      
     
</body>
</html>

<style>
  
#agregar {
  font-size: 14px;
}

h3 {
  position: relative;
}

</style>



